* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:;    
}

#header {
    background-color: #0090E3;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

#logo {
    margin-left: 30px;
    margin-top: -22px;
    width: 100px;
    height: 100px;
}

#main {
    margin-top: 15px;
    transition: ease all 250ms;
    height: 960px
}



#upper-title {
    margin-left: 570px;
    vertical-align: top;
}

#lower-title {
    display: block;
    margin-left: 570px;
}

.titel-gegevens {
    font-size: 20px;
    color: #2C579E;
}

.titel-vraag {
    font-size: 19.6px;
    color: #4FB5FF;
}

#txt{
    text-align: right;
    line-height: 40px;
}
    
#left {
    color: #5e5e5e;
    display: inline-block;
    width: 750px;
    transition: ease all 250ms;
}



#right {
    color: #5e5e5e;
    padding-left: 10px;
    display: inline-block;
    line-height: 40px;
}

.titel-punt {
    font-size: 20px;
    color: #FF6600;
}

#titel-vraag {
    font-family: 'Times New Roman', Times, serif;
    color: #4FB5FF;
}

#naam {width: 65px;}

#huis-nr {width: 50px;}

#huis-nr-toev {width: 50px;}

.color-orange {color: #FF6600;}

#custom-color {
    width: 100px;
    margin-top: 10px;
}

#custom-color-txt {
    line-height: 40px;
    margin-top: -10px;
}

#custom-color-txt-mm {
    margin-top: 3px;
    text-align: right;
}

#akkoord-txt {
    text-align: right;
    margin-bottom: 26px;
}

#haakje {
    color: #0090E3;
}

#opmaak {
    color: #0090E3;
}

#factuur {
    display: inline-block;
}

#euro {
    line-height: normal;
}

#left2 {
    color: #5e5e5e;
    margin-top: 10px;
    width: 750px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    transition: ease all 250ms;
}

@media only screen and (max-width: 710px) {
    #ww-text {
      margin-left: -15px;
    }
  }


#wwb {
    margin-top: 500px;
}

#wachtwoord-txt {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

#zes-karakters {
    color: #5e5e5e;
    margin-top: -9px;
    margin-bottom: 6px;
    line-height: normal;
}
#verzendbalk{
    width: 691px;
    height: 70px;
    background-color: #dad9d9;
    margin-top: 20px;
    margin-left: 567px;
}
#verzenden {
    margin-top: 9px;
    margin-left: 566px;
    box-shadow: 0 3px 0 0 #008b00;
    background-color: #00BA01;
    color: #FFF;
    font-size: large;
    font-weight: bold;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 45px;
    border-radius: 6px;
    transition-duration: 75ms;
    width: 115px;
}

#verzenden:hover {
    opacity: 85%;
}

#verzenden:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 0 #008b00;
    opacity: 75%;
}

#footer {
    color: #fff;
    width: 100%;
    height: 450px;
    background-color: #0090E3;
}

#footer-txt1 {
    padding-top: 55px;
    margin-left: 450px;
    font-size: x-large;
    display: inline-block;
}

#text-footer-mm {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 15px;
}

#footer-txt2 {
    padding-top: 55px;
    margin-left: 150px;
    font-size: x-large;
    display: inline-block;
    vertical-align: top;
}

#phone-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.font1 {
    font-family:sans-serif;
}

ul {
    line-height: 40px;
}


#footerlogos {
    text-align: center;
    width: 100%;
    height: 50px;
}

#footerlogo-thuiswinkelwaarborg {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
}

#footerlogo-ideal {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 60px;
    height: 50px;
}

#footerlogo-mastercard {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 66px;
    height: 50px;
}

#footerlogo-visa {
    margin-right: 10px;
    width: 85px;
    height: 85px;
}

#footerlogo-paypal {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
}
#footerlogo-postnl {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}